<!-- Footer Code Start-->
<!-- <footer class="text-center text-white" style="background-color: #f1f1f1;"> -->
<footer class="text-center text-white gradient-custom footer mt-auto">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto: fabrizionbertolo@gmail.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google redes"></i
      ></a>

      <!-- Instagram
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="" role="button"
                        data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a> -->

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/fabrizio-bertolo/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin redes"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/Fabrizionb"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github redes"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3 footerBar">
    © 2022 Copyright:
    <a class="text-dark" href="#">Fabrizio Bertolo</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer Code End-->
