<div class="container my-5">
  <div class="row g-5">
    <div class="section-title padd-15 mb-1">
      <h2 class="mb-1">Portfolio</h2>
    </div>
    <div
      class="mx-auto my-5 col-12 col-md-6 col-lg-4"
      *ngFor="let portfolio of portfolioList"
    >
    <a target="_blank" href={{portfolio.link}}>
      <div class="card">
        <img [src]="portfolio.image" class="img-fluid rounded-top" />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">
            <a>{{ portfolio.title }}</a>
          </h5>
          <p class="card-text">
            {{ portfolio.description }}
          </p>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>
