.about {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
  max-width: 1399px !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.35);
}
