<div class="container mt-2 ">
  <div class="section-title padd-15 mb-1">
    <h3 class="mb-1 text-center">Acerca de</h3>
  </div>
  <div class="row about">
    <div class="col-11">
      
      <div class="row">
        <div class="about-text">
          <p>
            Soy una persona curiosa y con una gran motivación, apasionado por el
            desarrollo web y la tecnología. Desde muy pequeño, mi devoción por
            la tecnología y los videojuegos me llevó a indagar sobre la
            programación y sus lenguajes.
          </p>
        </div>
      </div>
    </div>
    <div class="col-1 text-end">
        <i class="iconPencil bi bi-pencil-square"></i>
    </div>
  </div>
</div>
