.btnLogin {
  background-color: #504e70;
  font-weight: bold;
  height: 25px;
  border: 1px solid #504e70;
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnLogin:hover {
  background-color: #337ff1;
  border: 1px solid #337ff1;
}

.aLogin {
  color: #fff !important;
}

.nameNavbar {
  font-size: 1.5rem;
}

.imgProfile {
  position: absolute;
  margin-top: -13vh;
  margin-left: 1vh;
}

.profileData {
  margin-top: 16vh;
  position: relative;
  padding: 5px;
}

.btnData {
  background-color: #504e70;
  font-weight: bold;
  height: 25px;
  border: 1px solid #504e70;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.btnData:hover {
  background-color: #337ff1;
  border: 1px solid #337ff1;
}

.bg-image {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  width: 100%;
    display: block;
  margin: 0 auto;
}

.header {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.35);
}

.contactData {
  background-color: var(--bg-black-100);
  padding: 5px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.35);
}
.iconProfile {
  margin-top: 22vh !important;
  position: absolute;
  padding: 5px;
}
