<header class="">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white container">
    <div class="container-fluid contactData">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active text-center">
            <p class="nav nameNavbar" aria-current="page">Bertolo Fabrizio</p>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fab fa-github redes"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fab fa-linkedin redes"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto: fabrizionbertolo@gmail.com"
              ><i class="fab fa-google redes"></i
            ></a>
          </li>
          <li>
            <button class="btn btn-primary btn-sm btnLogin" type="button">
              <a class="nav-link aLogin" href="#">Login</a>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  <div class="header">
    <!-- Background image -->
    <div class="bg-image text-center" style="height: 200px">
      <img style="height: 200px" [src]="miPortfolio.backImage" />
    </div>
    <!-- Background image -->
    <!-- Profile image -->
    <div class="container imgProfile">
      <img [src]="miPortfolio.image" />
      <i class="iconPencil bi bi-pencil-square iconProfile"></i>
    </div>
    <!-- Profile image -->
    <!-- Profile Data -->
    <div class="profileData">
      <div>
        <h3>{{ miPortfolio.name }}</h3>
        <p>{{ miPortfolio.title }}</p>
        <p>{{ miPortfolio.location }}. Informacion de Contacto</p>
      </div>

      <div class="d-flex">
        <button class="btn btn-primary btn-sm btnData" type="button">
          <a class="nav-link aLogin" href="#">Tengo Interes en</a>
        </button>
        <button class="btn btn-primary btn-sm btnData" type="button">
          <a class="nav-link aLogin" href="#">Añadir Seccion</a>
        </button>
        <button class="btn btn-primary btn-sm btnData" type="button">
          <a class="nav-link aLogin" href="#">Mas</a>
        </button>
      </div>
    </div>
    <!-- Profile Data -->
  </div>
</header>
