/* .experiencia {
  border-radius: 5px;
  padding: 5px;
  min-width: 100%;
}
.timeline-item {
    margin-bottom: 15px;
  margin-top: 15px;
}
*/
.education {
  flex:1;
}
 
 .experiencie {
  flex:1;
} 
.experiencia{
  display: flex;
}

 
