
    <div class="row col-12 experiencia mt-2 d-flex align-items-center justify-content-center">
      <div class="education padd-15 col-5">
        <h2 class="tittle mb-3">Educación</h2>
        <div class="row">
          <div class="timeline-box padd-15">
            <div class="timeline shadow-dark">
              <!-- === TimeLine item ===-->
              <div class="timeline-item">
                <div class="circle-dot"></div>
                <h3 class="timeline-date">
                  <i class="fa fa-calendar"></i> 2022 - 2023
                </h3>
                <img
                  src="https://res.cloudinary.com/dm01fzgtk/image/upload/v1662136172/Proyecto%20Argentina%20Programa%20Angular/gob_x0mswy.png"
                  class="mb-2 expCiu rounded"
                  alt=""
                />
                <h4 class="timeline-title">Desarrollo Full Stack</h4>
                <p class="timeline-text">
                  Expedición: ene. 2023 · Sin fecha de vencimiento.
                </p>
                <p class="timeline-text">ID de la credencial xxxxx</p>
                <a href="#" target="_blank">Link al Certificado</a>
              </div>
              <div class="timeline-item">
                <div class="circle-dot"></div>
                <h3 class="timeline-date">
                  <i class="fa fa-calendar"></i> 2022 - 2022
                </h3>
                <img
                  src="https://res.cloudinary.com/dm01fzgtk/image/upload/v1662135647/Proyecto%20Argentina%20Programa%20Angular/coder_rrvdyg.png"
                  class="mb-2 expCiu rounded"
                  alt=""
                />
                <h4 class="timeline-title">JavaScript</h4>
                <p class="timeline-text">
                  Expedición: jul. 2022 · Sin fecha de vencimiento.
                </p>
                <p class="timeline-text">ID de la credencial xxxxx</p>
                <a href="#" target="_blank">Link al Certificado</a>
              </div>
              <div class="timeline-item">
                <div class="circle-dot"></div>
                <h3 class="timeline-date">
                  <i class="fa fa-calendar"></i> 2022 - 2022
                </h3>
                <img
                  src="https://res.cloudinary.com/dm01fzgtk/image/upload/v1662135647/Proyecto%20Argentina%20Programa%20Angular/coder_rrvdyg.png"
                  class="mb-2 expCiu rounded"
                  alt=""
                />
                <h4 class="timeline-title">Desarrollo Web</h4>
                <p class="timeline-text">
                  Expedición: abr. 2022 · Sin fecha de vencimiento.
                </p>
                <p class="timeline-text">
                  ID de la credencial 6253912ebdf7960026cf9ce2
                </p>
                <a
                  href="https://latam.coderhouse.com/certificados/6253912ebdf7960026cf9ce1"
                  target="_blank"
                  >Link al Certificado</a
                >
              </div>
              <div class="timeline-item">
                <div class="circle-dot"></div>
                <h3 class="timeline-date">
                  <i class="fa fa-calendar"></i> 2022 - 2022
                </h3>
                <img
                  src="https://res.cloudinary.com/dm01fzgtk/image/upload/v1662135649/Proyecto%20Argentina%20Programa%20Angular/scrum_ynpoe1.png"
                  class="mb-2 expCiu rounded"
                  alt=""
                />
                <h4 class="timeline-title">
                  Scrum Fundamental Certified
                </h4>
                <p class="timeline-text">
                  Expedición: abr. 2021 · Sin fecha de vencimiento.
                </p>
                <p class="timeline-text">ID de la credencial 838548</p>
                <a
                  href="https://c46e136a583f7e334124-ac22991740ab4ff17e21daf2ed577041.ssl.cf1.rackcdn.com/Certificate/ScrumFundamentalsCertified-FabrizioBertolo-838548.pdf"
                  target="_blank"
                  >Link al Certificado</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="experience padd-15 col-5">
        <h2 class="tittle mb-3">Experiencia</h2>
        <div class="row">
          <div class="timeline-box padd-15">
            <div class="timeline shadow-dark">
              <!-- === TimeLine item ===-->

              <div class="timeline-item">
                <div class="circle-dot"></div>
                <h3 class="timeline-date">
                  <i class="fa fa-calendar"></i> 2020 - Presente
                </h3>
                <img
                  src="https://res.cloudinary.com/dm01fzgtk/image/upload/v1662135646/Proyecto%20Argentina%20Programa%20Angular/acumar_kh6s2d.png"
                  class="mb-2 expCiu rounded"
                  alt=""
                />
                <h4 class="timeline-title">
                  Administrativo Financiero - Presidencia
                </h4>
                <p class="timeline-text">
                  Elaboración de documentación y proyectos. Ejecución de
                  proyectos tecnológicos.
                </p>
              </div>
              <div class="timeline-item">
                <div class="circle-dot"></div>
                <h3 class="timeline-date">
                  <i class="fa fa-calendar"></i> 2018 - 2020
                </h3>
                <img
                  src="https://res.cloudinary.com/dm01fzgtk/image/upload/v1662135646/Proyecto%20Argentina%20Programa%20Angular/acumar_kh6s2d.png"
                  class="mb-2 expCiu rounded"
                  alt=""
                />
                <h4 class="timeline-title">
                  Administrativo Financiero - Proyectos Especiales
                </h4>
                <p class="timeline-text">
                  Ejecución administrativa de proyectos tecnológicos.
                  Control de saldos y partida presupuestaria. Compra de
                  equipamiento informático y soporte al área.
                </p>
              </div>
              <div class="timeline-item">
                <div class="circle-dot"></div>
                <h3 class="timeline-date">
                  <i class="fa fa-calendar"></i> 2017 - 2018
                </h3>
                <img
                  src="https://res.cloudinary.com/dm01fzgtk/image/upload/v1662135647/Proyecto%20Argentina%20Programa%20Angular/gobciu_nvlqvt.png"
                  class="mb-2 expCiu rounded"
                  alt=""
                />
                <h4 class="timeline-title">
                  Analista de RRHH - Subsecretaría de Hábitat e
                  Inclusión
                </h4>
                <p class="timeline-text">
                  Administración fileserver y backup, asignación de
                  roles, altas y bajas de usuario. Mantenimiento de base
                  de datos y administración de servidor.
                </p>
              </div>
              <div class="timeline-item">
                <div class="circle-dot"></div>
                <h3 class="timeline-date">
                  <i class="fa fa-calendar"></i> 2011 - 2016
                </h3>
                <img
                  src="https://res.cloudinary.com/dm01fzgtk/image/upload/v1662135647/Proyecto%20Argentina%20Programa%20Angular/gobciu_nvlqvt.png"
                  class="mb-2 expCiu rounded"
                  alt=""
                />
                <h4 class="timeline-title">
                  Coordinador IT - Ministerio de Medio Ambiente
                </h4>
                <p class="timeline-text">
                  Coordinación del equipo HelpDesk, mantenimiento del
                  parque informático, instalación y mantenimiento del
                  cableado estructurado, gestión de compras.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
