<div class="container">
  <h2 class="tittle mb-3 text-center mt-2">Aptitudes y Herramientas</h2>
<div class="skills container padd-15 col-12 row d-flex align-items-center justify-content-center aptitudes mt-3">
  
  <div class="row col-12 container">

      <div class="skill-item col-lg-3 col-sm-12 padd-15"*ngFor="let aptitudes of aptitudesList">
        <h5>{{aptitudes.name}}: {{aptitudes.amount}}%</h5>
        <div class="progress">
          <div class="progress-in"  style='width:{{aptitudes.amount}}%'>
          </div>
          <!-- <div class="skill-percent">95%</div> -->
        </div>
      </div>
    </div>


  </div>